{% load staticfiles %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}Hamsa Bala</title>
        <meta name="description" content="Hamsa bala">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/hamsabala.css' %}">
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
        {% block analitics %}{% endblock %}
    </head>

    <body>
        <header>
            <div class="container">{% include 'include/header.html'  %}</div>
        </header>
        <main>
        {% block page %}{% endblock %}
        </main>
        <footer>
            <div class="container">{% include 'include/footer.html' %}</div>
        </footer>
        <script type="text/javascript" src="{% static 'js/hamsabala.js'  %}"></script>
    </body>
</html>
