{% load staticfiles %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}Hamsa Bala</title>
        <meta name="title" content="{% block mtitle %}{% endblock %} Hamsa bala"/>
        <meta name="description" content="{% block mdescrition %}{% endblock %}"/>
        <meta name="keywords" content="{% block mkeywords %}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
        {% if not debug %}{% include  'include/analytics.html' %}{%endif%}
        <link rel="icon" size="100x100" href="{% static 'favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'css/hamsabala.css' %}"/>
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        <header>
            <div class="container">{% include 'include/header.html'  %}</div>
        </header>
        <main>
        {% block page %}{% endblock %}
        </main>
        <footer>
            <div class="container">{% include 'include/footer.html' %}</div>
            <p class="copy">&copy; Kitties</p>
        </footer>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&amp;subset=cyrillic" rel="stylesheet">  
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'hamsabala-icons/style.css' %}"> -->
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
        <script type="text/javascript" src="{% static 'js/hamsabala.js'  %}"></script>
        <script>
            {% block scripts %}{% endblock %}
            $(document).ready(function(){
                {% block docready %}{% endblock %}
            });
        </script>
    </body>
</html>
