{% extends 'base/base.html' %}
{% block title %}{% endblock %}
{% block page %}
<section id="about">
    <div class="container">
        <article class="panel panel-shadow">
            <header>
                <h2>О нас</h2>
            </header>    
            <p>
            С 2009 года мы предлагаем вам уникальные высококачественные товары.</p> 
            <p>Как мы отбираем их? Для нас важны натуральность, качество, ручной труд, этичный бизнес и&nbsp;ответственное отношение к&nbsp;окружающей среде. 
            Знак Hamsa&nbsp;Bala не&nbsp;только гарантирует качество сырья, но&nbsp;также обеспечивает качество производственного процесса, 
            производственную среду, использование квалифицированных работников и&nbsp;исключение детского труда. 
            Мы выбираем только соответствующие этим критериям и&nbsp;созданные с&nbsp;любовью товары.
            Мы начали свои поиски лучших товаров для вас с&nbsp;Индии, но&nbsp;наша цель&nbsp;&mdash; находить самое лучшее по&nbsp;всему миру.
            Наша&nbsp;миссия: давать людям только самое лучшее.</p>
            <p>
            Сейчас областью интересов проекта являются благовония, народные промыслы, промыслы Кашмира: шкатулки, уникальные подставки под благовония, платки, шали, и&nbsp;этот список постоянно расширяется.
            </p>
        </article>
    </div>
</section>
<section id="incense"><div class="container"></div></section>
<section id="products"><div class="container"></div></section>
<section id="retail"><div class="container"></div></section>
<section id="contacts"><div class="container"></div></section>
{% endblock %}
{% block templates %}{% endblock %}
{% block scripts %}{% endblock %}
{% block docready %}{% endblock %}
