{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block page %}
<section id="title" class="title-image space">
    <article class="container">
            <div class="logo">{% include "include/logo.html"  %}</div>
            <h1 itemprop="name">hamsa bala</h1>
            <meta itemprop="primaryImageOfPage" content="{% static 'img/backgrounds/temple.jpg' %}"/>
            <p>Попробуй настоящее!</p>
    </article>
</section>

<section id="section_layout" class="space">
        {% for s in sections %}
            {% if forloop.counter < 4 or forloop.counter > 4 %}
            <a class="section-{{forloop.counter}}" href="{% url 'section' s.slug %}">
                <div class="section-image"
                     style="background-image:url(
                     {% if s.img %}
                        {{s.img.url}}
                     {%else%}
                        {% static 'img/default/box.png' %}
                     {%endif%})">
                </div>
                <div class="section-title">{{s.title}}</div>
            </a>
            {% elif forloop.counter == 4 %}
            <a class="section-{{forloop.counter}}" href="{% url 'section' s.slug %}"
                     style="background-image:url(
                     {% if s.img %}
                        {{s.img.url}}
                     {%else%}
                        {% static 'img/default/box.png' %}
                     {%endif%})">
                <div class="section-title">{{s.title}}</div>
            </a>
            {% for c in collections %}
            <a class="collection-{{forloop.counter}}" 
               href="{% url 'section' s.slug %}#{{c.slug}}">
                <article class="{{c.slug}}">
                    <header style="background-image:url({{c.img.url}})">
                    </header>
                </article>
            </a>
            {% empty %}
            {% endfor %}
            {% endif %}
        {% empty %}
        {% endfor %}
</section>

<section id="about">
    <div class="container">
        <div>
            <article class="panel">
                <header>
                    <h2>О нас</h2>
                </header>
                <main> 
                <p>
                С 2009 года мы предлагаем вам уникальные высококачественные товары.</p> 
                <p>Как мы отбираем их? Для нас важны натуральность, качество, ручной труд, этичный бизнес и&nbsp;ответственное отношение к&nbsp;окружающей среде.</p>
                <p>Знак Hamsa&nbsp;Bala не&nbsp;только гарантирует качество сырья, но&nbsp;также обеспечивает качество производственного процесса, 
                производственную среду, использование квалифицированных работников и&nbsp;исключение детского труда. 
                Мы выбираем только соответствующие этим критериям и&nbsp;созданные с&nbsp;любовью товары.
                Мы начали свои поиски лучших товаров для вас с&nbsp;Индии, но&nbsp;наша цель&nbsp;&mdash; находить самое лучшее по&nbsp;всему миру.
                Наша&nbsp;миссия: давать людям только самое лучшее.</p>
                <p>
                Сейчас областью интересов проекта являются благовония, народные промыслы, промыслы Кашмира: шкатулки, уникальные подставки под благовония, платки, шали, и&nbsp;этот список постоянно расширяется.
                </p>
                </main>
            </article>
            <section class="imgs">
                <div style="background-image:url({% static 'img/backgrounds/scent.jpg' %});"></div>
                <div style="background-image:url({% static 'img/backgrounds/lavand.jpg' %});"></div>
            </section>
        </div>
        <div>
            <section class="imgs">
                <div class="half" style="background-image:url({% static 'img/backgrounds/boy.jpg' %});"></div>
            </section>
            <section class="imgs">
                <div class="half" style="background-image:url({% static 'img/backgrounds/hb_candels.jpg' %});"></div>
            </section>
        </div>
    </div>
</section>
<section id="feedback-form" class="feedback">
            <h2>Обратная связь</h2>
            <hr/>
        <form id="feedback">
                <div id="fb-success" class="fb-responce">Письмо успешно отправленно!</div>
                <div id="fb-error" class="fb-responce">Произошла ошибка. Попрбуйте позвонить по телефону: +7 911 005 56 56</div>
                {% csrf_token %} 
                <input type="text" name="name" id="id_name" placeholder="имя" required/>
                <input type="email" name="email" id="id_email" placeholder="почта" required/>
                <textarea name="text" id="id_text" required></textarea>
                <input type="submit" value="отправить" />
        </form>
</section>
<section id="retail" class="space">
    <div class="retail-title"><h2>Где купить продукцию Hamsa Bala</h2></div>
    {% for c in retail %}
    <article class="city
    city-space-{% if retail|length > 3 %}4{% else %}{{ retail|length }}{% endif %}">
        <header>
        <h3>{{c.city.name}}</h3>
        <hr/>
        </header>
        <main>
        {% for i in c.shops %}
            <section>
                <h4>{{i.name}}</h4>
                <div class="address">{{i.address|safe}}</div>
            </section>    
        {% empty %}
            <section>
                <p>Comming soon...</p>
            </section>
        {% endfor %}
        </main>
        <footer>
            {% if c.more %}
            <a class="button" href="{% url "retail" c.city.slug %}">Список магазинов</a>
            {% endif %}
        </footer>    
    </article>        
    {% empty %}
    {% endfor %}
</section>
{% endblock %}
{% block templates %}{% endblock %}
{% block scripts %}
{% endblock %}
{% block docready %}
        $("#feedback").submit(function(event){
            event.preventDefault();
            feedback($(this));
            return false;
        });
{% endblock %}
