{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block page %}
<section id="title" class="space" {% if section.cover %}style="background-image:url({{section.cover.url}})"{% endif %}>
    <article class="container">
        <header>
            <h1>{{section.title}}</h1>
            <p>{{section.description}}</p>
        </header>
    </article>
</section>
{% for c in collections %}
<section class="cards space">
    {% for i in c %}
        <a href=#! class="card">
            <div class="header collection"
            style="background-image:url(
            {% if i.img %}
                {{i.img.url}}
            {%else%}
                {% static 'img/default/box.png' %}
            {%endif%})">
                <div>
                <h2>{{i.collection.title}}</h2>
                <hr/>
                <p>{{i.name}}</p>
                </div>
            </div>
            <div class="main">
                <h2>{{i.collection.title}}</h2>
                <hr/>
                <p>{{i.name}}</p>
            </div>
        </a>
    {% empty %}
    {% endfor %} 
</section>
{% empty %}
{% endfor %}
{% endblock %}
{% block templates %}{% endblock %}
{% block scripts %}{% endblock %}
{% block docready %}
{% endblock %}
