<section id="partners">
    <h2>Официальные представильства</h2>
    <h3>Санкт-Петербург</h3>
    <p><b><i class="fa fa-mobile" aria-hidden="true"></i></b> <span>+7 (911) 213-30-53</span></p>
    <p><b><i class="fa fa-envelope-o" aria-hidden="true"></i></b> <span>sale@hamsabala.ru</span></p>
    <h3>Москва</h3>
    <p><b><i class="fa fa-mobile" aria-hidden="true"></i></b> <span>+7 (963) 685-44-11</span></p>
    <p><b><i class="fa fa-envelope-o" aria-hidden="true"></i></b> <span>msk@hamsabala.ru</span></p>
</section>    
<section itemscope itemtype="http://schema.org/Organization" id="contacts">
    <h2 itemprop="name">Hamsa Bala</h2>
    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="addressLocality">Санкт-Петербург</span>
    </p>
    <p>
        <b><i class="fa fa-mobile" aria-hidden="true"></i></b> <span itemprop="telephone">+7 (911) 005-56-56</span>
    </p>
    <a class="button" href="{% url 'index' %}#feedback-form">Обратная связь</a>
    <p class="social">
        <a itemprop="sameAs" href="https://www.instagram.com/108hamsabala/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a itemprop="sameAs" href="https://vk.com/hamsabala" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
    </p>
</section>    
