<p itemprop="name">Hamsa Bala</p>
<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="addressLocality">Санкт-Петербург</span>
</p>
<p><b>Телефон:</b> <span itemprop="telephone">+7 911 005 56 56</span></p>
<p class="social">
    <a itemprop="sameAs" href="https://www.instagram.com/108hamsabala/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a itemprop="sameAs" href="https://vk.com/hamsabala/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
</p>
<p>&copy; Kitties</p>
