$main-color:rgba(0,20,137,1); /* Pantone Reflex Blue C */
$light-color:rgba(255,255,255,1);
$light-text-back:rgba(255,255,255,.9); 
$font-color:rgba(83,86,90,1); /* Pantone Cool Gray 11 C */

$space-color:lighten(rgba(217,217,214,1), 10%); /* Pantone Cool Gray 1 C */
$space-size:3vw;
$space-half:$space-size/2;

$max-screen:1680px;


@mixin card-size-borderless-square($count){
$size: (100vw - ($space-size)*($count - 1))/$count;
    grid-auto-rows: $size;
}

@mixin card-size-square($count){
$size: (100vw - ($space-size)*($count - 1))/$count;
    grid-auto-rows: $size;
}

@mixin card-size-borderless($count){
$size: (100vw - ($space-size)*($count - 1))/$count;
    grid-auto-rows: $size*1.2;
}

@mixin card-size($count){
$size: (100vw - ($space-size)*($count - 1))/$count;
    grid-auto-rows: $size*1.2;
}

$title-border:.1rem solid $main-color;

$retail-offset:6rem;
$retail-border:.1vw;

@mixin city-height($count){
    min-height:(100vw - ($space-size * 2) - $retail-border*($count - 1))/$count;
}

$card-border:$space-half solid $space-color;

$square4: (100vw - $space-size*2)/4;
$square2: (100vw - $space-size*2)/2;

$header-font-size:1.1rem;

$link-transition: all .3s ease-out 0s;

$back-title:url(../img/backgrounds/temple.jpg);
$back-about:url(../img/backgrounds/grass.jpg);
$back-retail:url(../img/backgrounds/boy.jpg);
/* Rules for small devices (mobile vertical) */

* {
    margin:0;
    padding:0;
    box-sizing:border-box; /* height and width will include border and padding */
}

a{
    text-decoration:none;
    color:$main-color;
    transition:$link-transition;
}

a:hover, a:focus{
    color:$font-color;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
    color:$font-color;
    background-color:$space-color;
}

h1, h2, h3{
    text-transform:uppercase;
    letter-spacing:.2rem;
    font-weight:400;
    color:$main-color;
    text-align:center;
}

h2{
    font-size:1rem;
}

body{
    display:flex;
    flex-direction:column;
    min-height:100vh;

    > footer,
    > header{
        position:relative;
        background-color:$space-color;
        z-index:1000;
    }

    > header{
    }

    > main{
        flex-grow:1;
        display:flex;
        flex-direction:column;
        max-width:$max-screen;
        margin:0 auto;
    }

    > footer{
        padding:2rem 1rem;
        min-height:10rem;
        background-color:black;
        a, p {
            color:$light-color;
            text-align:center;
        }

        a:hover,
        a:focus{
            color:$font-color;
        }

        .social{
            > a{
                > i {
                    font-size:2rem;
                    padding:1rem .5rem;
                }
            }
        }

        p:first-child{
            text-transform:uppercase;
        }

        p:last-child{
            margin:0;
        }
    }
}

.container{
    width:100%;
    margin:0 auto;
}


.logo{
    padding:.5rem;
    
    > svg{
        height:6rem;
        width:6rem;
        
        path{
            fill:$main-color;
            fill-opacity:1;
            fill-rule:evenodd;
            stroke:none;
        }    
    }
}    

.constraction{
    display:flex;
    justify-content:center;
    align-items:center;
}

.brand{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:2rem;

    > a{
        color:$main-color;
        font-size:$header-font-size;
        text-transform:uppercase;
        text-decoration:none;
        font-weight:bold;
        transition:$link-transition;
    }

    >  a:hover{
        color:black;
    }
}

nav{
    padding: 0 1rem;
    width:100%;
    display:flex;
    justify-content:space-between;
    > ul{
        list-style:none;
        display:none;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        
        > li{
            min-height:3rem;
            height:$space-size;
            display:flex;
            justify-content:center;
            align-items:center;
            padding:0 1rem;
            > a{
                color:$main-color;
                font-size:$header-font-size;
                text-decoration:none;
            }
            > a:hover{
                color:$font-color;
            }
        }

        > li:hover{
        }

        > li, > li > a{
            transition:$link-transition;
        }
    }
}


#mobile-menu-button{
    padding:1rem;
    background:none;
    border:none;
    cursor:pointer;
    color:$main-color;
    font-size:1.5rem;
}

#mobile-menu-button:before{
    font-family: FontAwesome;
    content: "\f0c9";
}

#mobile-menu-button.active:before{
    font-family: FontAwesome;
    content: "\f00d";
}

section{
    background-size:cover;
    background-position:center;

    > .container{
        display:flex;
        align-items:center;
    }
}

hr{
    border:.1rem solid $main-color;
    width:1rem;
    margin: 1rem auto;
}

.cards{
    display:grid;
    grid-gap: $space-size;
    grid-template-columns:100vw;
    grid-auto-rows: 170vw;
    > .card{
        background-color:$light-color;
        display:flex;
        flex-direction:column;
        > div{
            position:relative;
            display:block;
        }
        > .header{
            flex-grow:1;
            display:flex;
            flex-direction:column; 
            >div{
                flex-grow:1;
                padding:1rem 1rem 0 1rem;
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                opacity:0;
                background-color:rgba(255,255,255,0.75);
                transition:$link-transition;
            }

        }

        > .main{
            padding:2rem 1rem 1rem 1rem;
        }
        

        
        h2,
        p{
            text-align:center;
        }

    }
}

.cards-square{
    grid-auto-rows: 100vw;
}

p{
    margin-bottom:1rem;
}

.button{
    padding: .5rem 2rem;
    border: .1rem solid $light-color;
    background-color:rgba(0,0,0,.5);
    color: $light-color;
    border-radius:.2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    transition:$link-transition;
    margin-bottom:1rem;
}

.button:hover{
    color:$font-color;
    background-color:$light-color;
}

.collection{
    background-image:url(../img/default/box.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

#title{
    background-color:$light-color;
    > .container{
        justify-content:center;
        flex-direction:column;
        padding:1rem 1rem $space-size 1rem;
        
        header{
            padding:1rem;
            background-color:rgba(255,255,255,.75);
            > section{
                border:$title-border;
                padding:$space-size;
            }
        }

        h1{
            text-transform:uppercase;
            color:$main-color;
            font-size:10vw;
            text-align:center;
        }

        p{
            color:$main-color;
            font-size:1.5rem;
            text-align:center;
            margin: 2vh 0 0 0;
        }

        .button{
            margin:10vh 0 0 0;
        }
    }
}

.title-image{
    background-image:$back-title;
    > .container{
        min-height:50vh;
    }
}

.title-retail{
    background-color:#E4DFCC;
    padding-bottom:1rem;
}

#section_layout{
    display:grid;
    width:100%;
}

#about{
    > .container{
        flex-direction:column;
        > div{
        width:100%;
            display:flex;
            flex-direction:column;
        }
    }
    article,
    section{
        margin:0;
        width:100%;
        min-height:100vw;
    }

    article{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        > *{
            max-width:40rem;
        }
    }

    .imgs{
        display:flex;
        flex-direction:column;
        > div{
            width:100vw;
            height:100vw;
            background-position:center;
            background-size:cover;
        }
    }
}

.feedback{
    background-image:$back-about;
    background-position:center;
    background-size:cover;
    padding:1rem;
    
    > h2 {
        text-align:center;
        color:$main-color;
    }

    >form{    
        display:grid;
        grid-gap:1rem;
        width:100%;
            
        .fb-responce{
            padding:1rem;
            color:$light-color;
            margin-bottom:1rem;
            text-align:center;
            display:none;
        }
        #fb-success{ background-color:#86A61F;}
        #fb-error{ background-color:#822C3F;}


        > input, 
        > textarea{
            border-radius:none;
            background:none;
            background-color:lighten( $space-color, 10%);
            padding:.5rem 1rem .6rem 1rem;
            border:.1rem solid $main-color;
            transition:$link-transition;
        }

        > textarea{
            height:10rem;
        }

        > input:focus,
        > textarea:focus{
            background-color:$light-color;
        }

        > input[type=submit]{
            cursor:pointer;
            background-color:$main-color;
            color:$light-color;
        }

        > input[type=submit]:hover,
        > input[type=submit]:focus{
            background-color:$light-color;
            color:$main-color;
            border-color:$light-color;
        }
    }
}

#collections{
    display:grid;
    grid-gap:$space-size;

    > article{
        padding:1rem;
        background-color:$light-color;
        >main{
            padding: 1rem;
        }
        >main,
        > footer{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        }

        >main,
        >footer,
        >header{
            border-left:$title-border;
            border-right:$title-border;
        }

        >header{
            border-top:$title-border;
            padding-top:1rem;
        }
        >footer{
            border-bottom:$title-border;
            padding-bottom:1rem;
        }
    }

    img{
        display:block;
        margin:0 auto;
        min-height:3rem;
        height:$space-size;
    }
    
    >article.hamsabala{
        background-image:url(../img/paper/craft.jpg);
        background-position:center;
    }

    >article.aromapure{
        background-color:$font-color;
        > * {
            border-color:$light-color;

            > a {
                color:$light-color;
            }

            > a:hover{
                color:$space-color;
            }

        }    
    }
}

#instagram{
    min-height:$square2;
    display:flex;
    flex-direction: column;
    > div{
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
    }

     a:before{
        font-family:FontAwesome;
        content: "\f16d";
     } 

     a {
        color: rgba(228,228,228,0);
        font-size:6rem;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:100vw;
        height:100vw;
        background-position:center;
        background-size:cover;

        span{
            font-size:1.2rem;
        }
    }

    a:hover, a:focus {
        color: rgba(228,228,228,1);
        background-color:black;

    }
}
#products{
    box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.5);
    background-color:#eee;
}

$retail-gap:.2rem;

#retail{
    display:grid;
    grid-gap:$retail-gap;
    grid-template-columns:100vw;
    
    > .retail-title{
        height:$retail-offset;
        display:flex;
        justify-content:center;
        align-items:center;
        background-color:$light-color;
        
        grid-row-start:1;
        grid-row-end:2;
    }

    > .city{
        background-color:$light-color;
        min-height:100vw;
        display:flex;
        flex-direction:column;
        > header{
            padding:1rem;
        }
        > main {
            flex-grow:1;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center; 
            > section{
                > h4{
                    text-align:center;
                }
            }
        }

        > footer{
            padding:1rem;

        }

    }
}

#retail-menu{
    font-size:1.1rem;
    background-color:$light-color; 
    > ul {
        width:100%;
        display:flex;
        align-items:center;
        justify-content:space-around;
        > li {
            min-height:3rem;
            height:$space-size;            
        }
    }    

    > a {
        min-height:3rem;
        height:$space-size;
        display:block;
        width:50%;
    }
}

#shops{
    display:grid;
    flex-grow:1;
    grid-template-columns:100vw;
    align-content:start;
    background-color:$light-color;
    padding:$space-size 0;

    > article{
        background-color:$light-color;
        display:flex;
        flex-direction:column;
        > header,
        > footer,
        > main{
            padding:1rem;
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        > main{
            flex-grow:1;
            padding-top:0;
        }
    }
}

.address ul{
    padding:0;
    list-style-type:none;
    > li:before{
    font-family: FontAwesome;
    content: "\f041\00a0\00a0";                
    }

    > li{
        padding-bottom:1rem;
    }
}


.panel{
    background-color:$light-color;
    padding:1rem;
    h2{
        text-align:center;
        border-bottom:.1rem solid #ddd;
        padding-bottom:1rem;
        margin-bottom:1rem;
    }
}

.panel-shadow{
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}


/* Rules for mobile horisontal and tablet vertical */
@media (min-width:560px) and (max-width:767px) {
    #title{
        >.container{
            h1{
                font-size:5rem;
            }
        }
    }
    .cards{
        grid-template-columns:repeat(2, 1fr);
        @include card-size-borderless(2);
        .card{
        }
    }

    .cards-square{
        @include card-size-borderless-square(2);
    }

    #retail{
        grid-template-columns:repeat(2, 1fr);
        > .retail-title{
            grid-column-start:1;
            grid-column-end:3;
        }

        > .city{
            min-height:50vw;
        }
    }

    #shops{
        grid-template-columns:repeat(2, 1fr);
        > nav{
            grid-column-start:1; 
            grid-column-end:3;
        }
    }

    #collections{
        grid-template-columns:repeat(2, 1fr);
    }

    .button{
        max-width:12rem;
        margin:0 auto 1rem auto;
    }
}

/* Rules commot to screens bigger than tablet screens */
@media (min-width:768px){
    body{
        > header{
            position:fixed;
            width:100%;
            }
        >header,
        >main{
            padding: 0 $space-size;
        }
        > main {
            padding-top:$space-size;
        }
        >footer{
            padding:5rem 1rem;
        }            
    }

    nav {
        padding:0;
        justify-content: flex-start;
        > ul{display:flex; flex-direction:row;}
    }
    #mobile-menu-button{display:none;}
    #title{
        background-attachment:fixed;
        >.container{
            h1{
                font-size:5.5rem;
            }
        }
    }
    

    #about{
        > .container{
            > div{
                flex-direction:row;
            }
        }
        article,
        section{
            width:50%;
            min-height:20vh;
        }

        .imgs{
            flex-direction:row;
            > div{
                width:$square4;
                min-height:$square4;
                height:100%;
            }

            > div.half{
                width:$square2;
            }
        }
    }
    
    .feedback{
        padding:6rem 0;
        > form{
           max-width:$square2;
           margin:0 auto; 
           
           grid-template-columns:repeat(2, 1fr);

            .fb-responce,
            > input[type=submit], 
            > textarea{
                grid-column-start:1;
                grid-column-end:3;
            }

            
            #id_name,
            #id_email{
            }


        }

    }

    #instagram{
        flex-direction:row;
        flex-wrap:wrap;
        > div{
            flex-direction:row;
        }
        a{
            width:$square4;
            height:$square4;
        }
    }
    #collections{
        grid-template-columns:repeat(2, 1fr);
    }
    #shops{
        grid-template-columns:repeat(2, 1fr);
        > nav{
            grid-column-start:1;
            grid-column-end:3;
        }
    }
    .button{
        max-width:12rem;
        margin:0 auto 1rem auto;
    }
}

/* Rules for tablet horisontal and small ultrabook screens */
@media (min-width:768px) and (max-width:919px) {
    .cards{
        grid-template-columns:repeat(2, 1fr);
        @include card-size(2);
    }

    .cards-square{
        @include card-size-square(2);
    }
    
    #retail{
        grid-template-columns:repeat(2, 1fr);
        > .retail-title{
            grid-column-start:1;
            grid-column-end:3;
        }

        > .city{
            @include city-height(2);
        }
    }
    
}

/* Rules for middle screens */
@media (min-width:920px) and (max-width:1199px) {
    .cards{
        grid-template-columns:repeat(4, 1fr);
        @include card-size(4);
        .card{
            > .main{
                display:none;
            }
        }

        .card:hover,
        .card:focus{
            > .header{
                > div{
                    opacity:1;
                    padding-bottom:1rem;
                }
            }
        }
    }

    .cards-square{
        @include card-size-square(4);
    }

    #retail{
        grid-template-columns:repeat(4, 1fr);
        > .retail-title{
            grid-column-start:1;
            grid-column-end:5;
        }

        > .city{
            @include city-height(4);
        }
    }
    
}

/* Rules for large screens */
@media (min-width:1200px) {
    .panel{width:50%;}
    .cards{
        grid-template-columns:repeat(4, 1fr);
        @include card-size(4);
        .card{
            > .main{
                display:none;
            }
        }

        .card:hover,
        .card:focus{
            > .header{
                > div{
                    opacity:1;
                    padding-bottom:1rem;
                }
           }
       }   
    }
    .cards-square{
        @include card-size-square(4);
    }

    #retail{
        grid-template-columns:repeat(4, 1fr);
        > .retail-title{
            grid-column-start:1;
            grid-column-end:5;
        }

        > .city{
            @include city-height(4);
        }
    }
    
}

@media (min-width:$max-screen+1px) {
    body{
        > main{
            width:$max-screen;
        }

        >header{
            padding:0;
            > .container{
                width:$max-screen;
                margin:0 auto;
                padding:0 $space-size;
            }
        }
    }

}

nav > ul.active{
    display:flex;
}

.space{
    margin-bottom:$space-size;
}

.borderless{
    border:none;
}

