$icomoon-font-path: "fonts" !default;

$hb-hb_animal-icon: "\e900";
$hb-aroma-icon: "\e901";
$hb-hb_ceremony-icon: "\e902";
$hb-gift-icon: "\e903";
$hb-meditation-icon: "\e904";
$hb-prey-icon: "\e905";
$hb-read-icon: "\e906";
$hb-relax-icon: "\e907";
$hb-swan-icon: "\e908";
$hb-talk-icon: "\e909";
$hb-veg-icon: "\e90a";

